body{
    width: 1920;
    height: 1080;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    margin-bottom: 100px;
}

nav{
    width: 400px;
    gap: 0.4%;
}

#parent{
    text-align: left;
    margin: 3.5%;
    padding: 4%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    box-shadow: 5px 5px 10px 0px #ffffff54;
    gap: 8px;
}

.rg1 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
}

.rg2 {
    color: white;
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
}

.rg3 {
    backdrop-filter: blur(10px);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5%;
    border: 1px solid #ffffff48;
    background-color: #00000021;
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 3;
}

.rg3 p{
    color: white;
}

.rg_image, .rg_image:hover{
    width: 90%;
    border-radius: 5px;
}

#especial{
    background: linear-gradient(to bottom, white, #cacaca);
    background-clip: text;
    color: transparent;
    text-align: start;
    margin-left: 2%;
}

#main{
    margin-left: 15%;
    padding: 4%;
}

.cars{
    backdrop-filter: blur(10px);
    margin-left: 1%;
    margin-right: 1%;
    padding: 1.5%;
    background: linear-gradient(to bottom, #ff87324b, #ff69324b);
    text-align: justify;
    border-radius: 10px;
}

.side_bar{
    position: fixed;
    width: 15%;
    height: 100%;
    padding-top: 20px;
}

p{
    color: white;
    font-weight: bold;
    font-size: large;
}

#boss{
    font-size: x-large;
}

.menu{
    justify-items: start;
    display: flexbox;
    flex-direction: column;
    padding: 20px;
    border: 4px solid black;
    background-size: cover;
}

hr{
    margin-bottom: 40px;
    margin-top: 40px;
}

header{
    text-align: center;
    padding: 1%;
    color: aliceblue;
    border-radius: 6px;
    margin-bottom: 40px;
}

a{
    justify-content: center;
    text-decoration: none;
    display: flex;
    color: aliceblue;
    backdrop-filter: blur(3.5px);
    background-color: #00000023;
    box-shadow: 5px 5px 10px 0px #0000006c;
    border-radius: 7px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 8px;
    font-size: 20px;
}

a:hover{
    font-size: 25px;
    box-shadow: 5px 5px 10px 0px #0000006c;
}

img{
    display: flex;
    width: 300px;
    margin: 20px;
    border: 2px solid rgba(255, 255, 255, 0.214);
    border-radius: 50px;
}

img:hover{
    width: 310px;
}

#history{
    border-radius: 10px;
    width: 95%;
    border: 2px solid rgba(240, 248, 255, 0.452);
}