body{
    width: 1920;
    height: 1080;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: black;
    color: #ee8743;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    margin-bottom: 100px;
}

#especial{
    text-align: start;
    margin-left: 2%;
}

#main{
    margin-left: 15%;
    padding: 4%;
}

.cars{
    text-align: justify;
}

.side_bar{
    background-color: #ee8743;
    position: fixed;
    width: 15%;
    height: 100%;
    padding-top: 20px;
}

.coming_soon:hover, .coming_soon{
    font-size: 20px;
    display: block;
    text-align: center;
    border-radius: 0;
}

p{
    font-weight: bold;
    font-size: large;
}

#boss{
    font-size: x-large;
}

.menu{
    padding: 20px;
    display: flexbox;
    color: #ee8743;
    background-color: rgba(0, 0, 0, 0.403);
    border: 2px solid #ee8743;
    border-radius: 10px;
    background-size: cover;
}

hr{
    margin-bottom: 40px;
    margin-top: 40px;
}

header{
    text-align: center;
    padding: 1%;
    color: black;
    border-radius: 6px;
    background-color: #ee8743;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
    display: flex;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.138);
    border-radius: 7px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 8px;
    font-size: 20px;
}

a:hover{
    font-size: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.204);
    border: 2px solid rgba(255, 255, 255, 0.457);
}

img{
    display: flexbox;
    width: 500px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgba(255, 255, 255, 0.214);
    border-radius: 50px;
}

img:hover{
    width: 520px;
}

#history{
    border-radius: 10px;
    width: 95%;
    border: 2px solid rgba(240, 248, 255, 0.452);
}